@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Edu+QLD+Beginner:wght@400..700&family=Edu+SA+Beginner:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500;600;700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Short+Stack&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html { scrollbar-color: #1e1e1f; }

body {
    font-family: "Poppins", sans-serif;
    background-color: #121212;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background-color: #1e1e1f; }

#sidebar {
    position: sticky;
    height: max-content;
    top: 0;
    padding-bottom: 96px;
}

.card {
    background-color: #1e1e1f;
    border-color: #3a3939;
}

.logo-container {
    background-color: #39393a;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
}

.logo {
    width: 150px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.active { color: #ffc461 !important; }

i { color: #ebc077; }

hr {
    border-color: #929292;
    height: 3px;
    max-width: 200px;
}   

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links:hover, .contacts span:hover, .nav-link:hover { color: #ffc56183; }

.links, p, .text { color: #b5b5b5; }

p { font-size: 16px; }

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff0e;
    padding: 15px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 1px solid #474747;
    border-bottom: 1px solid #474747;
}

.navigation a { font-size: 15px; }

.contacts { color: #c4c4c4; }
.contacts a { font-size: 14px; }

.article-title { padding-bottom: 25px; }
.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 5px;
    background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    border-radius: 3px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid #474747;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.form-control {
    background-color: #bbbbbb48;
    border-color: #5f5f5f4b;
}

.form-control:focus {
    background-color: #bbbbbb7a;
    border-color: #bbbbbb7a;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.slide-in {
    opacity: 0;
    animation: slideInFromTop 1s ease-in-out forwards;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 991px) {

    .card-text.text-left { text-align: center; }
    
    .custom-navbar { display: none; }

    .article-title::after {
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
    }

    #sidebar {
        position: static;
        padding-bottom: 0;
    }
}

@media (max-width: 250px) {
    body { overflow-x: hidden; }
}

.project {
    transition: transform 0.3s ease;
}
  
.project:hover {
    transform: scale(1.1);
}